{% extends "base_logged_in.html" %}

{% block jumbotron %}{% endblock jumbotron %}

{% block content %}
    <div class="col-lg-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Künye</div>
            <table class="table">
                <tr>
                    <td>İsim</td>
                    <td>{{ profile.first_name }}</td>
                </tr>
                <tr>
                    <td>Aile</td>
                    <td>{{ profile.last_name }}</td>
                </tr>
                {% comment %}
                <tr>
                    <td>Konsey</td>
                    <td>{{ profile.family }}</td>
                </tr>
                {% endcomment %}
                <tr>
                    <td>Tecrübe</td>
                    <td>{{ profile.exp }} / {{ profile.exp_need_for_next_level }}</td>
                </tr>
                <tr>
                    <td>Kıdem</td>
                    <td>{{ profile.level }}</td>
                </tr>
                <tr>
                    <td>Altın</td>
                    <td>{{ profile.gold }}</td>
                </tr>
                <tr>
                    <td>Kara Totem</td>
                    <td>{{ profile.darktotem }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Yetenek Puanları</div>
            <table class="table">
                <tr>
                    <td>Saldırı</td>
                    <td>{{ profile.attack_point }}</td>
                    {% if profile.unused_point > 0 %}
                        <td><a href="{% url char_use_point 'attack' %}"><span class="glyphicon glyphicon-plus"></span></a></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Savunma</td>
                    <td>{{ profile.shield_point }}</td>
                    {% if profile.unused_point > 0 %}
                        <td><a href="{% url char_use_point 'shield' %}"><span class="glyphicon glyphicon-plus"></span></a></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Sağlık</td>
                    <td>{{ profile.health_point }}</td>
                    {% if profile.unused_point > 0 %}
                        <td><a href="{% url char_use_point 'health' %}"><span class="glyphicon glyphicon-plus"></span></a></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Enerji</td>
                    <td>{{ profile.energy_point }}</td>
                    {% if profile.unused_point > 0 %}
                        <td><a href="{% url char_use_point 'energy' %}"><span class="glyphicon glyphicon-plus"></span></a></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Stamina</td>
                    <td>{{ profile.stamina_point }}</td>
                    {% if profile.unused_point > 0 %}
                        <td><a href="{% url char_use_point 'stamina' %}"><span class="glyphicon glyphicon-plus"></span></a></td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Dağıtılmamış Puan</td>
                    <td>{{ profile.unused_point }}</td>
                    {% if profile.unused_point > 0 %}
                        <td></td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Bünye</div>
            <table class="table">
                <tr>
                    <td>Enerji</td>
                    <td>{{ profile.energy_now }} / {{ profile.get_energy }}</td>
                </tr>
                <tr>
                    <td>Stamina</td>
                    <td>{{ profile.stamina_now }} / {{ profile.get_stamina }}</td>
                </tr>
                <tr>
                    <td>Sağlık</td>
                    <td>{{ profile.health_now }} / {{ profile.get_health }}</td>
                </tr>
                <tr>
                    <td>Saldırı</td>
                    <td>{{ profile.get_attack }}</td>
                </tr>
                <tr>
                    <td>Savunma</td>
                    <td>{{ profile.get_shield }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}